@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: black;
  color: black;

}


.embla{
  overflow: hidden;
}

.embla__container{
  display: flex;
}

.embla__slide{
  flex: 0 0 100%;
  min-width: 0;
}



h1{
  
    margin-top: 8px;
    font-family: 'Josefin Sans', serif;
    text-align: center;
    font-weight: bolder;
    
  
  
    
    margin-left: 20px;
    justify-content: center;
    background: linear-gradient(to right, white, aliceblue, whitesmoke, white, aliceblue, white);
  
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: glitter 3s infinite;
  
  }
  @keyframes glitter{
  
    0%{text-shadow:  0 0 10px white};
  
    20%{text-shadow: 0 0 20px aliceblue};
    40%{text-shadow: 0 0 30px whitesmoke};
    60%{text-shadow: 0 0 40px white};
    80%{text-shadow: 0 0 50px aliceblue};
    
    100%{text-shadow: 0 0 60px white};
  }

